//----------------------- web fonts
@font-face {
  font-family: 'yekan';
  src: url('../fonts/Yekan.eot') format('eot'),
  url('../fonts/Yekan.ttf') format('truetype'),
  url('../fonts/Yekan.woff') format('woff')
}

//----------------------- css rest
a:hover, a:visited, a:active, a:focus {
  text-decoration: none
}

.color{
  background-image: radial-gradient(#56cab8, #ff5d5d, #f1da3c, #7a7a7a)
}

//----------------------- Less function
@font-family: yekan, 'yekan', 'Arial', Serif;
@web-color:#46A1B4;
//@web-color:#085A6C;
.bg-img(@float:'',@color1,@color2) {
  -webkit-background-image: -webkit-linear-gradient(@float,@color1, @color2);
  -moz-background-image: -moz-linear-gradient(@float,@color1, @color2);
  -ms-background-image: -ms-linear-gradient(@float,@color1, @color2);
  -o-background-image: -o-linear-gradient(@float,@color1, @color2);
   background-image: linear-gradient(@float,@color1, @color2);
}

.bg-color(@color) {
  -webkit-background-color: @color;
  -moz-background-color: @color;
  -ms-background-color: @color;
  -o-background-color: @color;
  background-color: @color;
}

.border-radius(@br) {
  -webkit-border-radius: @br;
  -moz-border-radius: @br;
  -ms-border-radius: @br;
  -o-border-radius: @br;
  border-radius: @br;
}

@box-shadow-func: inset;
.box-shadow(@func:inset,@x:100px,@y:0px,@blur:0px,@color:gray) {
  -webkit-box-shadow: @func @x  @y @blur @color;
  -moz-box-shadow: @func @x  @y @blur @color;
  -ms-box-shadow: @func @x  @y @blur @color;
  -o-box-shadow: @func @x  @y @blur @color;
  box-shadow: @func @x  @y @blur @color;
}

.animation(@animation-name,@time,@count,@animation-func) {
  -webkit-animation: @animation-name @time @count @animation-func;
  -moz-animation: @animation-name @time @count @animation-func;
  -ms-animation: @animation-name @time @count @animation-func;
  -o-animation: @animation-name @time @count @animation-func;
  animation: @animation-name @time @count @animation-func;
}

.transition(@time:1s,@transition-func:linear) {
  -webkit-transition: @time @transition-func;
  -moz-transition: @time @transition-func;
  //-ms-transition: @time @transition-func;
  -o-transition: @time @transition-func;
  transition: @time @transition-func;
}

.transform(@func1,@func2,@func3) {
  -webkit-transform: @func1 @func2 @func3;
  -moz-transform: @func1 @func2 @func3;
  -ms-transform: @func1 @func2 @func3;
  -o-transform: @func1 @func2 @func3;
  transform: @func1 @func2 @func3;
}

/*/colors
#46a1b4
*/
//----------------------- Styles
//.container{padding:0 15px;width: 100%;margin: 0;box-sizing: border-box}

body{
    background-color:#f8f8f8;
    //background-color:#536567;
  // navbar
  .navbar{margin:0}


  .navbar-default {
    position: relative;
    .bg-color(@web-color);
    border-bottom:1px groove #36a1b2;
   .navbar-toggle{
     margin-right: 10px;
     border-color: #fff;
     .icon-bar{
       background-color: #fff;
     }
     &:hover{
       background-color: rgb(22, 162, 184);
     }
   }
  .selected{
    background-color: rgba(64, 140, 156, 1);
  }
   .logo{
      font-size: 20px;
     font-family: @font-family;
      color: #fff;
  margin-top: 5px;
     span{
       padding: 0 40px 0 0;
       font-size: 30px;
     }
    }
    .navbar-nav li{
      padding: 20px auto;
      a{
        font-family: @font-family;
        color: #fff;
        font-size: 22px;
        padding-top:20px;
        padding-bottom:20px;
        &:hover{
         color: #fff;
        }
      }
      &:hover{
        background-color: rgba(64, 140, 156, 1);
      }
    }
  }
  // header
  #header{
    width: 100%;
    float:right;
    margin: 0;
    .header-img{
      .head-img{
        width: 100%;

      }
    }
  }
//content
.head-title(){
  color: #FFF;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 10px 5px;
  font-family: @font-family;
  background-color: #46a1b4;
  .bg-img(top,rgba(255,255,255,.2), rgba(0,0,0,0));
}
  #content{
    padding:50px 0;

    .sidebar-box{
    .bg-color(#e8eef3);
      padding: 0;
      .sidebar-head{
        float: right;
        width: 100%;
        h2{
        .head-title()
        }

      }
      .sidebar-body{
        .side-list-group{
          border: 0;
list-style-type: none;
          float:right;
          padding-right:0;
          width: 100%;
          li{
            font-size: 20px;
            padding:5px 15px;
            .transition(0.2s,ease-in-out);
            a{
              padding: 10px 5px;
              font-family: @font-family;
              color: #333;
            }
            &:hover{
                .bg-color(#f3f3f3)
              }
            position: relative;
            &:after{
              position: absolute;
              width:0px;
              height:0px;
              border-bottom: 280px solid red;
              border-right: 80px solid transparent;
              border-top: 90px solid transparent;
              background-image: url('../../fav.PNG');
            }
          }
          img{
            margin-right: 30px;
            margin-top:20px;
          }
          form{
            padding: 10px;
            .share-text{
              font-family: @font-family;
              color: #333;
              font-size: 18px;
            }

            .form-group{

            }
            input{
              margin:10px 0;
              outline:0;
              font-family: @font-family;
             .border-radius(3px);
              &:focus{
              box-shadow: none;
              }
            }
            .btn{
              .bg-color(@web-color);
              font-family: @font-family;
              border: 0;
              .transition(0.4s,linear);
              &:hover{
                .bg-color(#368fb4);
              }
            }
          }
        }
      }
    }
    .content{
      padding:0;

      .main-box{
        .box{
          background-color: #e8eef3;
        }

      }
      .news{
      margin: 25px 0;
      .head{
        h2{.head-title()}
      }

        .body{
          padding:0 20px;
          .news-box{
            padding:10px;
            border-bottom: 1px dashed #ddd;
            &:nth-child(6),&:nth-child(5){
              border: 0;
            }
            span{
              font-size: 25px;
              color: @web-color;
            }
            .news-link{
              font-size: 18px;
              color:#428bca;
              font-family: @font-family;
              box-shadow:0 1px 0 0px @web-color;
              padding-bottom: 5px;
              .transition(0.3s,linear);
              &:hover{
                box-shadow: 0 0px 0px 0 @web-color;
              }
            }
            .news-text{
              margin-top: 15px;
              color: #333;
              font-family: @font-family;
              text-align: justify;
            }
          }
          .article{
            padding: 20px 0;
            .img-article{
              background-color: #f8f8f8;
              border: 1px solid #eaeaea;
              padding: 5px;
              margin-bottom: 20px;
              margin-top: 12px;
            }
           h4{
             font-family: @font-family;
             font-size: 20px;
           }

            p{
              text-align: justify;
              font-family: @font-family;
            }
            a{
              //.bg-color(#d6d7d8);
              //border-radius: 3px;
            }
          }
        }
      }
    }
    .lists{
      border-bottom: 1px dotted #ddd;
      border-top: 1px dotted #ddd;
      padding:4px 0;
      margin: 10px 0;
      color: rgba(100, 100, 100, 0.8);
      li{
        padding: 0 15px 0 15px;
        border-left: 1px solid #ddd;
        font-family: @font-family;
        &:last-child{
          border: 0;
        }
        .fa{
          color: @web-color;
          padding-left: 10px;
        }
      }
    }
    //doctors
    .doctor-box{
      margin: 100px 0px 70px 0px;
      padding: 120px 35px 36px;
      background-color:#e8eef3;
      position: relative;
      .doctor-img{
        width: 200px;
        height: 200px;
        position: absolute;
        top: -100px;
        left: 50%;
        margin-left: -95px;
      .border-radius(50%);
        overflow: hidden;
        img{
          width: 100%;
          height:100%;
        }
      }
      .doctor-info{
        .doctor-name{
          margin-top: 10px;
          letter-spacing: 1px;
          font-size: 24px;
          margin-bottom: 5px;
          display: block;
          font-family:@font-family;
          color: #444444;
        }
        .position{
          font-size: 16px;
          display: block;
          letter-spacing: 1px;
          font-family:@font-family;
          color: #444444;
        }
        .doctor-des{
          margin-top: 20px;
          margin-bottom: 10px;
          display: block;
        }
        p{
          font-family: @font-family;
          text-align: justify;
        }
      }
      .lists{
        text-align: right;
        a{
          color: #333;
          
        }
      }
      .contact {
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
        li{
          list-style: none;
          display: inline-block;
          padding-right: 15px;
          a{
            width: 32px;
            height: 32px;
            border-radius: 16px;
            background: @web-color;
            float: left;
            color: white;
            padding-top: 6px;
            padding-left: 2px;
          }
        }
      }

    }
  }
  // contact
  .contact-form{
    font-family: @font-family;
    h2{
      font-family: @font-family;
    }
    .form-control{
      background-color:#efefef;
      &:focus{
        box-shadow: 0;
      }
    }
    .btn{
      .bg-color(@web-color);
    }
    textarea{height: 200px}
  }
  .contact-article{
    h2{font-family: @font-family}
    p{font-family: @font-family;text-align: justify}
  }
  //footer

  #footer{
.bg-color(@web-color);
    padding:25px 0;
    width: 100%;
    float: right;
    ul li{
      list-style: none;
      display: inline-block;
    }
    .contact {
      padding-top: 10px;
      padding-left: 0px;
    }
    .socials-icons{
      padding-right:20px;
      a{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #fff;
        background: #6DBEC2;
        background-color: #49C1DC;
        float: left;
        color: white;
        padding-top: 3px;
        font-size: 20px;

      }
    }
    .facebook,.google-plus,.twitter,.instagram{.transition( 0.5s,ease-in)}
    .facebook:hover,.instagram:hover{
        //background-color: #46629E;
        .box-shadow(inset, -30px, -30px ,30px, #46629E);
        .transform(rotate(1turn),skew(0),skew(0)) ;
        color: white;
    }
    .twitter:hover{
      .box-shadow(inset, -30px, -30px ,30px, #0EAACE);
      .transform(rotate(1turn),skew(0),skew(0)) ;
      color: white;
    }
    .google-plus:hover{
      .box-shadow(inset, -30px, -30px ,30px,  #AF0000);
      .transform(rotate(1turn),skew(0),skew(0)) ;

      color: white;
    }
    .copy-right-text{
      color: #fff;
      font-size: 18px;
      direction: ltr;

    }
  }
}

.pagination {
padding-right:150px;
}
 //-------------- Media Query------------------------/

@media (max-width: 1220px){
  body #content .sidebar-box .sidebar-body .side-list-group img{margin-right: 0}
}